<h3>Editar Edificio</h3>
<br>
<%= render 'form', building: @building %>

<%= link_to 'Mostrar', @building, :class => "btn btn-link" %> |
<%= link_to 'Index edificios', buildings_path, :class => "btn btn-link" %>
