<h3>Editar Departamento</h3>

<%= render 'form', apartment: @apartment, buildings: @buildings %>

<%= link_to 'Mostrar', @apartment, :class => "btn btn-link" %> |
<%= link_to 'Index departamentos', apartments_path, :class => "btn btn-link" %>
